mixin github-card(item)
  .card.col-md-4.text-center
    .card-body
      img.card-img-top-github(src=item.picture)
      h4.card-title
        span.name !{item.name}
        span.stars !{item.stars}
        span.fork !{item.fork}
      p.card-text
        span.description !{item.description}
        br
        span.licence !{item.licence}
      a.btn.btn-secondary(href=item.url,target='_blank') Source